.manage-app-form{
    width: 450px!important;
}

.manage-app-form input{
    width: 300px;
}

.manage-app-form select{
    width: 310px;
}

.row{
   display: inline-flex; 
   width: 360px;
}

.row input{
    width: unset;
}

.check-box-field{
    padding-top: 6px;
}