.multiselect-dropdown {
    position: relative;
    display: inline-block;
}

.multiselect-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 12px;
    z-index: 1;
}

.multiselect-dropdown-content label {
    display: block;
    margin-bottom: 8px;
}

.multiselect-dropdown:hover .multiselect-dropdown-content {
    display: block;
}